<table>
    <thead>
        <tr>
            <th>Market</th>
            <th>Time</th>
            <th>Version</th>
            <th>Price</th>
            <th>Side</th>
        </tr>
    </thead>
    <tbody>
        {{ range getJSON $.Site.Params.mns_url "actions" }}
        <tr>
            <td>{{ .marketId }}</td>
            <td>{{ .time }}</td>
            <td>{{ .version }}</td>
            <td>{{ .price.price }}</td>
            <td>{{ .price.side }}</td>
        </tr>
        {{ end }}
    </tbody>
</table>